<!DOCTYPE html>
<html>
<head>
  <title>IFBA - Travel Support Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="gray-bg">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
            });
        </script>
</body>
</html>
